.product-item {
    position: relative;
    overflow: hidden;

    img {
        min-width: 100%;
    }

    &:hover {
        .product-meta {
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
        }

        .prod-social {
            position: relative;
            visibility: visible;
            padding-top: 30px;
            @include opacity(1);
        }
    }
}

.product-meta {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.4s;

    h5 {
        font-weight: 600;
        margin-bottom: 5px;
    }

    p {
        font-size: 12px;
        margin-bottom: 0;
    }

    .prod-social {
        padding-top: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        left: 0;
        @include opacity(0);
        @include transition(all 0.4s);
    }
}
